@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Exercise 2: Database Query");

    //album variables
    var artistId = "0";
    var albumName = "";
    var releaseYear = "";
    var recordLabel = "";

    var theButton = Request.Form["TheButton"];

    //database
    var db = Database.Open("CHINOOK");

    //sql query
    var getArtistsQuery = "SELECT ArtistId, Name FROM Artists ORDER BY Name";

    //results
    var getArtistsResults = db.Query(getArtistsQuery);

    //make results a list and populate it
    List<SelectListItem> artistsList = new List<SelectListItem>();
    artistId.Add(new SelectListItem
    {
        Value = "0",
        Text = "Select Artist"
    });
    foreach (var artist in getArtistsResults)
    {
        artistsList.Add(new SelectListItem
        {
            Value = artist.ArtistId.ToString(),
            Text = artist.Name
        });
    }

    //TODO Validation
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    //get form fields
    artistId = Request.Form["ArtistId"];
    albumName = Request.Form["AlbumName"];
    releaseYear = Request.Form["ReleaseYear"];
    recordLabel = Request.Form["RecordLabel"];

    if (theButton.Equals("add", StringComparison.OrdinalIgnoreCase))
    {
        //check if form fields are valid
        if (Validation.IsValid())
        {
            //trycatch db query
            try
            {
                var createAlbum = "INSERT INTO Albums (Title, ArtistId, ReleaseYear, ReleaseLabel" +
                                  " VALUES(@0, @1, @2, @3)";
                db.Execute(createAlbum, albumName,
                    artistId.Equals("0") ? null : artistId,
                    releaseYear,
                    string.IsNullOrEmpty(recordLabel) ? null : recordLabel);
                //successful message
                <div class="col-12 text-center">
                    <p style="color:green;">
                        @albumName has been added
                    </p>
                </div>
            }
            catch (Exception ex)
            {
                <div class="col-12 text-center">
                    <p style="color:firebrick;">
                        Error: @ex.Message
                    </p>
                </div>
            }
        }
    }
    else
    {
        artistId = "0";
        albumName = "";
        releaseYear = "";
        recordLabel = "";
    }

}