@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "Exercise 02");

    var theButton = Request.Form["theButton"];
    string artistId = Request.Form["ArtistId"];

    var artistName = Request.QueryString["artistName"];

    //if results are empty return to seach page
    if (string.IsNullOrEmpty(artistName))
    {
        Response.Redirect("Exercise02_A.cshtml");
    }

    var db = Database.Open("CHINOOK");
    var searchByArtistNameQuery = @"SELECT ArtistId, Name FROM Artists WHERE Name like '%' + @0 + '%' ORDER BY Name";
    var searchByArtistNameResult = db.Query(searchByArtistNameQuery, artistName);

    //TODO Check that a result was returned
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    if (theButton.Equals("submit", StringComparison.OrdinalIgnoreCase))
    {
        Response.Redirect("Exercise02_C?artistId=" + artistId);
    }
}
<p>@artistName</p>
<form id="theform" method="post">
    <div class="row">
        <div class="offset-1">
            <label id="ArtistNameLabel">Select from the list:</label>&nbsp;&nbsp;
            <select id="ArtistId" name="ArtistId">
                @{ 
                    foreach (var artist in searchByArtistNameResult)
                    {
                        <option value="@artist.ArtistID"> @artist.Name </option>
                    }
                }
            </select>&nbsp;&nbsp;
            <button type="submit" id="theButton" name="theButton" value="submit"
                    class="btn btn-primary">
                Find Albums
            </button>
        </div>
    </div>
</form>