@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Exercise 2: Database Query");

    //Output Variables
    string artistName = "";

    //database
    var db = Database.Open("CHINOOK");

    //sql query
    var searchByNameQuery = "SELECT ArtistId FROM Artists WHERE Name like '%' + @0" + '%';

    //results
    var searchByNameResults = db.Query(searchByNameQuery, );
}

@section banner {
    <h1>@Page.Title</h1>
}

@if (IsPost)
{
    //ToDo
}

<form id="theform method="post">
    <div class="row">
        </div>
    </form>"